.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1fcf5;
    font-size: 3rem;
    font-family: monospace;
    text-align: center;
}

.container--mobile {

}

.container--tablet {

}

.container--desktop {

}

.container--bigDesktop {

}
